extends layout

block body

  div(class='container')

    div.jumbotron
      h1 Devito URL Shortener
      p Keep it short & classy

    section
      h3#host_url http://#{ HOSTNAME }

    section

      div.url-list(ng-controller='UrlListController as urlList')

        div.url-header
          h4 Short Link
          h4 Target

        div.new-url-entry
          form.form(novalidate, name='urlForm', ng-submit='urlList.addUrl()'
            ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }")
            div.columns
              div.form-group(ng-class="{'has-error': urlForm.shortLink.$dirty && " +
                "(urlForm.shortLink.$invalid || urlForm.shortLink.$error.required)}")
                input.form-control(type='text', required, name='shortLink', ng-model='newUrl.shortLink', valid-short)
                div.help-block.ng-cloak(ng-messages='urlForm.shortLink.$error',
                  ng-if='urlForm.shortLink.$dirty && (urlForm.shortLink.$invalid || urlForm.shortLink.$error.required)')
                  div(ng-message='required') The short link is required.
                  div(ng-message='startingSlash') The short link must not start with a slash.
                  div(ng-message='httpPrefix') The short link must not start with HTTP.
                  div(ng-message='hasHash') The short link must not contain a hash.

              div.form-group(ng-class="{'has-error': urlForm.target.$dirty && " +
                "(urlForm.target.$invalid || urlForm.target.$error.required)}")
                input.form-control(type='url', required, name='target', ng-model='newUrl.target')
                div.help-block.ng-cloak(ng-messages='urlForm.target.$error',
                  ng-if='urlForm.target.$dirty && (urlForm.target.$invalid || urlForm.target.$error.required)')
                  div(ng-message='required') The target URL is required.
                  div(ng-message='url') The target is not a valid URL.

              button.btn.btn-primary.btn-sm(type='submit')
                i.fa.fa-plus
            input(type='hidden', ng-model='newUrl.idx')

        div.url-entry.ng-cloak(ng-repeat='url in urls | orderBy:"-idx"', ng-cloak)
          span.well
            a(href='http://#{ HOSTNAME }/{{ url.shortLink }}', target='_blank') {{ url.shortLink }}
          span.well {{ url.target }}
          button.btn.btn-danger.btn-sm(ng-click='urlList.deleteUrl(url.shortLink)')
            i.fa.fa-remove

  script(src='static/libs/jquery/dist/jquery.min.js')
  script(src='static/libs/angular/angular.min.js')
  script(src='static/libs/angular-messages/angular-messages.min.js')
  script(src='static/libs/angular-route/angular-route.min.js')
  script(src='static/libs/angular-resource/angular-resource.min.js')
  script(src='static/js/app.js')
  script(src='static/js/services.js')
  script(src='static/js/controllers.js')
  script(src='static/js/filters.js')
  script(src='static/js/directives.js')
